<div class="text-center">
    <div class="building">
      <h3>Farm</h3>
      <p>Earns 2-5 Gold</p>
      <button (click)="farm()" class="btn-lg btn btn-default">Farm!</button>
    </div>
  
    <div class="building">
      <h3>Cave</h3>
      <p>Earns 5-10 Gold</p>
      <button (click)="cave()" class="btn-lg btn btn-default">Cave!</button>
    </div>
  
    <div class="building">
      <h3>Casino</h3>
      <p>Earn or Lose up to 100 Gold</p>
      <button (click)="casino()" class="btn-lg btn btn-default">Casino!</button>
    </div>
  
    <div class="building">
      <h3>House</h3>
      <p>Earns 7-15 Gold</p>
      <button (click)="house()" class="btn-lg btn btn-default" >House!</button>
    </div>
  </div>
